<!-- views/partials/_navbar.ejs -->

<link rel="stylesheet" href="/stylesheets/partials.css" />

<nav>
  <% if(user) { %>
  <div class="navbar">
    <h1 id="nav-header">Software Terms</h1>
    <h2 id="greeting">Welcome, <%= user.username %></h2>
    <div class="nav-links">
      <a class="authlink" href="/home">Home</a>
      <a class="authlink" href="/auth/sign-out">Sign Out</a>
    </div>
  </div>
  <% } else { %>
    <div class="navbar">
      <h1 id="nav-header">Software Terms</h1>
      <div class="nav-links">
        <a class="authlink" href="/auth/sign-in">Sign In</a>
        <a class="authlink" href="/auth/sign-up">Sign Up</a>
      </div>
    </div>
  <% } %>
</nav>
