<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>What do you want to do?</h1>
    <a href="/new-term">Create a term</a>
    <a href="/terms">View all terms</a>
    <a href="/update-term">Update a term</a>
    <a href="/delete-term">Delete a term</a>
    <!-- ADD A SIGN OUT BUTTON/NAV PARTIAL -->
  </body>
</html>