<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <div class="home-menu">
        <h1>What do you want to do?</h1>
        <a class="home-buttons" href="/new-term">Create a term</a>
        <a class="home-buttons" href="/terms">View all terms</a>
        <a class="home-buttons" href="/update">Update a term</a>
    </div>
    <!--<a href="/delete-term">Delete a term</a> -->
  </body>
</html>