/* public/stylesheets/show.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.show-body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url("https://t3.ftcdn.net/jpg/09/07/52/90/360_F_907529080_Rvvk1QtI2BGnLqA6yolZhVtfz697U4bl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7ac5f8;
}

.show-table-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: large;
  color: #01e2c0;
  gap: 250px;
}

.show-entries {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: small;
  color: #ffffff;
  gap: 250px;
}

.delete-button {
  padding: 10px;
  background-color: #01e2c0;
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}

.delete-button:hover {
  background-color: #e84a6c;
}

.edit-button {
  padding: 10px;
  background-color: #01e2c0;
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}