@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.index-body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url("https://t3.ftcdn.net/jpg/09/07/52/90/360_F_907529080_Rvvk1QtI2BGnLqA6yolZhVtfz697U4bl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7ac5f8;
}

.index-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #01e2c0;
  height: 100%;
}

.home-body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url("https://t3.ftcdn.net/jpg/09/07/52/90/360_F_907529080_Rvvk1QtI2BGnLqA6yolZhVtfz697U4bl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7ac5f8;
}

.home-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.home-buttons {
  padding: 10px;
  background-color: #01e2c0;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}

.home-h1 {
  color: #ffffff;
}

.sign-in-body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url("https://t3.ftcdn.net/jpg/09/07/52/90/360_F_907529080_Rvvk1QtI2BGnLqA6yolZhVtfz697U4bl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7ac5f8;
}

.main-header {
  font-weight: bold;
  background-image: url('https://api.deepai.org/job-view-file/0dd44740-dd98-4bbf-bcf4-a9c9324fd9da/outputs/output.jpg');
  /* color: white; */
  font-size: 4.0em;
  margin: -160px 20px 0 20px;
}

.subheader {
  margin: 0 20px 0 20px;
  font-size: 1.4em;
}

/* .auth-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 80px 0 0;
  height: 100%;
} */

/* .signup-link,
.signin-link {
  text-decoration: none;
  font-size: 1.5em;
  padding: 8px 0;
  border-radius: 25px;
  width: 10em;
  text-align: center;
} */

/* .signup-link {
  background-color: #ce4866;
  color: white;
  margin: 0 0 20px 0;
} */

/* .signup-link:hover {
  background-color: #ff5378;
} */

/* .signin-link {
  background-color: #f6e7e7;
  color: #1c2e5b;
  margin: 20px 0 0 0;
} */

/* .signin-link:hover {
  background-color: #ffffff;
} */

.signin-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20em;
  height: 50%;
  background-color: #eee5ed;
  padding: 30px 40px 20px 40px;
  border-radius: 20px;
  color: #4b598e;
  font-weight: bold;
}

input {
  border: 1px solid rgb(182, 182, 182);
  padding: 8px;
  border-radius: 10px;
}

button {
  padding: 10px;
  background-color: #b007b9;
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}

textarea {
  border: 1px solid rgb(182, 182, 182);
  padding: 30px;
  border-radius: 5px;
  vertical-align: top;
}


.table-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 270px;
}

.entries {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 270px;
}

.all-apps-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-apps-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 90%;
}

ul {
  list-style: none;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul > a {
  text-decoration: none;
  color: #1c2e5b;
  width: 50%;
  background-color: #f6e7e7;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 15px 0;
  font-weight: bold;
  text-align: center;
}

ul > a:hover {
  background-color: #4b598e;
  color: white;
}