<!-- views/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Create a term</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Create a Term!</h1>
    <h1>Term</h1>
    <form action="/terms" method="POST">
        <label for="term"></label>
        <input type="text" name="term" id="term" />
    <h1>Definition</h1>
    <% const userComment = "Define the term here"; %>
    <label for="definition"></label><br>
    <!-- The textarea with dynamically set content -->
    <textarea id="definition" name="definition" rows="4" cols="50"><%= userComment %></textarea>
    <h1>Category</h1>
    <label for="category"></label>
    <select id="category" name="category">
    <option value="front end">Front End</option>
    <option value="back end">Back End</option>
    <option value="dev ops">Dev Ops</option>
    </select>

    <button type="submit">Create Term</button>
    
    </form>

  </body>
</html>