<!-- views/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a term</title>
  </head>
  <body>
    <h1>Create a Term!</h1>
    <form action="/terms" method="POST">
        <label for="term">Term:</label>
        <input type="text" name="term" id="term" />
    <h1>Definition</h1>
    <% const userComment = "Define the term here"; %>
    <label for="definition">Definition:</label><br>
    <!-- The textarea with dynamically set content -->
    <textarea id="definition" name="definition" rows="4" cols="50"><%= userComment %></textarea>
    <h1>Category</h1>
    <% const Category = "front end, back end or dev ops"; %> <!-- Example variable in EJS -->
    <label for="category">Category:</label>
    <!-- The input field with a dynamically set value -->
    <input type="text" id="category" name="category" value="<%= Category %>" placeholder="Enter category">
    <button type="submit">Create Term</button>
    </form>
    <a href="/home/">Back to Home</a>
  </body>
</html>