<!-- views/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a term</title>
  </head>
  <body>
    <h1>Create a Term!</h1>
    <form action="/terms" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
<!-- CREATE TEXT BOXES FOR DEFINITION AND CATEGORY, LOOK AT REQUIRED ATTRIBUTE -->
        <label for="buy">Buy?</label>
        <button type="submit">Create Term</button>
    </form>
    <a href="/home/">Back to Home</a>
  </body>
</html>