<!-- terms/update.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update a term</title>
  </head>
  <body>
     <form action="/update-term/<%= term._id %>?_method=PUT" method="POST">
  <label for="term">Term:</label>
  <input type="text" name="term" id="term" value="<%= term.term %>" />

  <label for="definition">Definition:</label>
  <input type="text" name="definition" id="definition" value="<%= term.definition %>"/>

  <label for="category">Category:</label>
  <textarea name="notes" id="category" value="<%= term.category %>"></textarea>

  <button type="update">Update</button>
</form>
</div>
  </body>
</html>